<%- include("../includes/header.ejs") %>
    <main>
        <section>
            <h1>404 Oops!!!</h1>
            <h2>Are you lost?</h2>
            <p>If you are, I would advise you use the links provided above to find your way around. "<b>Else</b>" you will grow old here, There's nothing here to view!!!</p>
        </section>
    </main>
<%- include("../includes/footer.ejs") %>