<%- include("../includes/header.ejs") %>
    <main>
        <section>
            <h1>About Me?</h1>
            <h2>Thanks for your interest</h2>
            <p>Find more career info about me on the resumes' page!!!</p>
        </section>
    </main>
<%- include("../includes/footer.ejs") %>