<%- include("../includes/header.ejs") %>
    <main class="homePage">
        <section>
            <h1>Blocs</h1>
            <h2>Welcome to the studio</h2>
            <p>Check out the resume page if you are employer!!!</p>
        </section>
    </main>
<%- include("../includes/footer.ejs") %>