<%- include("../includes/header.ejs") %>
    <main>
        <section>
            <h1>Resume</h1>
            <h2>Career and new path</h2>
            <p>This page is for my career history and new path I am currently interested in and working on.</p>
        </section>
    </main>
<%- include("../includes/footer.ejs") %>