@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=MonteCarlo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,500;1,800;1,900&family=Roboto:wght@100;300;400;500;900&display=swap');

/* Css Variables */
:root {
    --text-color: honeydew;
    --logo-color: rgba(255, 217, 0, 0.87);
    --header-footer-background: rgb(90, 66, 221);
    --general-padding: 10px;
    --general-margin: 10px;
    --letter-spacer: 1px;
    --auto-padding: auto;
    --minus-px: 5px;
}

/* Set general page margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background-color, var(--logo-color));
    color: var(--text-color);

    overflow-y: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

footer {
    padding: 1.3rem;
    text-align: center;
}