        <% const date = new Date(); %>

        <footer>
            <p><b>Blocs</b> <sup>&copy;</sup><%= date.getFullYear() %></p>
        </footer>
        <script src="js/index.js"></script>
    </body>
</html>